@charset "utf-8";
/* CSS Document */
body{
	margin:0px;
	padding:0px;
	background-color:#3b24a1;
}
ul{
	list-style:none;
}
a{
	text-decoration:none;
	
}
.main-page{
	width:100%;
	height:67vh;
	background-image:url("../images/first-bg.png");
	background-size: cover;
	background-repeat:no-repeat;
	position:relative;
}
.product-container{
	width:100%;
	height:33vh;
	background-image:url("../images/second bg.png");
	background-size: cover;
	background-repeat:no-repeat;
	position:relative;
}

.navigation-container{
	display: flex;
	justify-content:space-between;
	padding:15px 6%;
	align-items: center;
}
.logo{
	font-family:RoadTest;
	color:#ffffff;
	font-size:25px;
}
.cart img{
	height:30px;
}
.menu ul{
	display:flex;
}
.menu ul li a{
	font-family: calibri;
	margin:20px;
	font-weight:400;
	letter-spacing:0.5px;
	color:#E9E9E9;
	font-size:17px;
}

.text-container p:nth-child(1){
	color:#FFFFFF;
	font-family:RoadTest;
	font-size:50px;
	
}
.text-container p:nth-child(2){
	font-family: calibri;
	color:#eceaef;
	font-size:30px;
}
.text-container p:nth-child(3){
	font-family: calibri;
	color:#f1f1f2;
	font-size:18px;
}
.text-container p{
	line-height:0px;
}
.text-container{
	width:350px;
	position: absolute;
	left:20%;
	top:50%;
	transform: translate(-20%,-50%);
}
.text-container p:nth-child(2){
	line-height:30px;
}
.product-img img{
	height:300px;
}
.product-img{
	position: absolute;
	border-radius:140px;
	left:66%;
	top:45%;
	transform: translate(-66%,-45%);
	box-shadow:2px 2px 16px rgba(0,0,0,0.3);
}
.tools{
	position: absolute;
	right:40px;
	bottom:2%;
	display: flex;
	align-items: center;
	
}
.order-now,.prescription,.more-details{
	margin:10px 35px;
}
.order-now{
	border:3px solid #30ffcd;
	border-radius:20px;
	width:110px;
	height:40px;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.order-now a,.prescription a,.more-details a{
	color:#f5f5f5;
	font-family: calibri;
}
.order-now:hover{
	border:3px solid #30ffcd;
	background-color:#30ffcd;
	box-shadow:0px 2px 12px rgba(29,213,237,0.5);
	transition: all ease 0.5s ;
	
}
.order-now:hover a{
	color:#2D1C77;
	font-weight:bold;
	transition: all ease 0.5s ;
}

.box-1,.box-2,.box-3,.box-4{
	width:220px;
	height:30vh;
	border:1px solid #301d86;
}
.product-list{
	display: flex;	
	border-radius:10px;
	overflow: hidden;
	box-shadow:2px 2px 12px rgba(0,0,0,0.3);
	background-color:;
	background:linear-gradient(0deg,#5734ca 20%,#3c24a1);
	
	
}
.product-container{
	display: flex;
justify-content: center;
	align-items: center;
	
}

.heading,.type{
	font-family: calibri;
	opacity:0.7;
}
.heading {
	color:#c8bcfc;
	font-weight:400;
	font-size:22px;
}
.type {
	color:#ac9afa;
	font-size: 20px;
	line-height:20px;
}
.box-1,.box-2,.box-3,.box-4{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.type{
	text-align: center;
}
.p-icon{
	border:3px solid #32fecd;
	width:55px ;
	height:40px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius:20px;
}
.p-icon i{
	color:#FFFFFF;
	font-size:20px;
}
.active{
	background:linear-gradient(-180deg,#3c4ce3 30%,#5239cf);
	
}
.active .p-icon{
	background-color:#32fecd;
	box-shadow:0px 2px 12px rgba(0,0,0,0.3);
	transition: all ease 0.5s;
	
}

.product-img{
	left:-100000000px;
}
.active-product{
	left:66%;
	animation:slide 0.5s ;
}
.active .heading,.active .type{
	opacity:1;	
}
.active .p-icon i{
	color:#0E0E0E;
}
@keyframes slide{
	0%{
		opacity:0;
	}
	100%{
		opacity:1;
	}
}
